.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100wh;
  background-color: rgb(237, 128, 195);
  padding: 5px;
}
.left {
  left: 20px;
}
.right {
  position: absolute;
  right: 10px;
}
.nav h2 {
  color: black;
}
